<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SynchronizationProblems.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F9C17781B8BA8C600BAF02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9C178C1B8BA8C700BAF02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9C17971B8BA8C700BAF02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
